registry=https://registry.npmjs.com

@ewn:registry=https://pkgs.dev.azure.com/energyworldnet/_packaging/Internal/npm/registry/
//pkgs.dev.azure.com/energyworldnet/_packaging/Internal/npm/registry/:always-auth=true
